publicMethodCommentRequired=true
protectedMethodCommentRequired=true
privateMethodCommentRequired=false
packagePrivateMethodCommentRequired=false
classCommentRequired=true
classAuthorTagRequired=true
skipInnerClasses=true
skipOverridenMethods=true